a, a:link, a:visited {
    color: rgb(0, 0, 245);
    margin: 4px 15px;
    padding: 4px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    border-style: outset;
    border-width: 2px;
    border-color: gray;
    background-color: rgb(245, 245, 245);
    border-radius: 10px;
    box-shadow: 1px 1px rgb(10, 10, 10);
    transition: color 0.5s;
    transition: background-color 0.5s;
}
a:hover, a:active {
    color: rgb(245, 245, 245);
    background-color: rgb(0, 0, 245);
    cursor: pointer;
}
a:active {
    border-style: inset;
}

@font-face {
  font-family: devinneSwash;
  src: url(/Remnant/DevinneSwash-qZd5.ttf);
}

fieldset {
	box-shadow: 5px 5px 2px grey;
    cursor: default;
}

ul {
	 text-align: left;
	 font-size: 20px;"
}

h2 {
	 text-align: left;
	 font-size: 30px;"
}

legend {
	font-size: 20px;
}

hr {
    width: 50%;
    margin-top: 7px;
    margin-bottom: 6px;
    border-style: outset;
}

* {
  box-sizing: border-box;
}