doctype html
html(lang='en')
  head
    title Remnants
    link(rel='stylesheet' href='assets/styles.css')
  body
    .navbar
      a.btn(href='/remnant/archive/Map') Full Map
      block buttons

    .page
      block content